{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_routes')}}">Summer School</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_testing_routes')}}">Testing</a></li>
    <li class="breadcrumb-item active">Regents Organization</li>
  </ol>
</nav>

<h1>Summer School Regents Organization Scripts</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for form in forms %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4>{{form[1]}}</h4>
                <form action="{{url_for(form[0])}}" class="grid gap-3" method="post" enctype="multipart/form-data">
                    {{ form[2].hidden_tag() }}


                    <div class="form-group p-1 g-col-12">
                        {{ form[2].exam_title.label }}
                        {{ form[2].exam_title(class_="form-control") }}
                    </div>    

                    <div class="form-group p-1 g-col-12 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}   
</div>

</div>
{% endblock %}