{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_organization_reports')}}">Organization</a></li>
    <li class="breadcrumb-item active">Automated iLog</li>
  </ol>
</nav>

<h1>Automated iLog</h1>

<form action="{{url_for('scripts.return_ilog_automation')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12">
      {{ form.intervention_date.label(class_="form-label") }}
      {{ form.intervention_date(class_="form-control") }}
    </div>

    <div class="form-group p-1 g-col-12">
      {{ form.source_str.label(class_="form-label") }}
      {{ form.source_str(class_="form-select") }}
    </div>

    <div class="form-group p-1 g-col-12">
      {{ form.action_taken_str.label(class_="form-label") }}
      {{ form.action_taken_str(class_="form-select") }}
    </div>

    <div class="form-group p-1 g-col-12">
      {{ form.ats_region.label(class_="form-label") }}
      {{ form.ats_region(class_="form-select") }}
    </div>

    <div class="form-group p-1 g-col-12">
        {{ form.students_str.label(class_="form-label") }}
        {{ form.students_str(class_="form-control", cols="35", rows="20") }}
    </div>

      <div class="form-group p-1 g-col-12">
        {{ form.comments_str.label(class_="form-label") }}
        {{ form.comments_str(class_="form-control", cols="35", rows="3") }}
    </div>  

    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Run</button>
    </div>
</form>


</div>

{% endblock %}