{% macro render_programming_form(form_card) -%}
    {% if form_card.Title == "Student Vetting" %}
        {{student_vetting_form(form_card.form,form_card.route)}}

    {% elif form_card.Title == "Initial Fall Request Inform Letters" %}
        {{initial_request_inform_letter_form(form_card.form,form_card.route)}}  

    {% elif form_card.Title == "Process Advanced Coursework Survey" %}
        {{advanced_coursework_form(form_card.form,form_card.route)}}      
        
    {% else %}
        {{no_parameters_form(form_card.form,form_card.route)}}
    {% endif %}
{%- endmacro %}



{% macro initial_request_inform_letter_form(form, route) -%}

<form action="{{url_for(route)}}" class="grid gap-3" method="post">
    {{ form.hidden_tag() }}

    <div class="form-group p-1 g-col-12">
        {{ form.date_of_letter.label }}
        {{ form.date_of_letter(class_="form-control") }}
    </div>

    <div class="form-group p-1 g-col-12">
        {{ form.due_date.label }}
        {{ form.due_date(class_="form-control") }}
    </div>


    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{%- endmacro %}


{% macro student_vetting_form(form, route) -%}

<form action="{{url_for(route)}}" class="grid gap-3" method="post">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{%- endmacro %}

{% macro no_parameters_form(form, route) -%}

<form action="{{url_for(route)}}" class="grid gap-3" method="post">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{%- endmacro %}


{% macro advanced_coursework_form(form, route) -%}

<form action="{{url_for(route)}}" class="grid gap-3" method="post"enctype="multipart/form-data">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12">
        {{ form.advanced_course_survey_file.label }}
        {{ form.advanced_course_survey_file(class_="form-control") }}
    </div>


    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{%- endmacro %}