{% extends "base.html" %}


{% from 'programming/templates/programming/_forms.html' import render_programming_form %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_programming_reports')}}">Programming</a></li>
    <li class="breadcrumb-item active">CTE Major Reapplication</li>
  </ol>
</nav>

<h1>CTE Major Reapplication</h1>

<form action="{{url_for('scripts.return_cte_major_reapplication')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.num_of_photography_seats(class_="form-control") }}
        </div>
        {{ form.num_of_photography_seats.label(class_="col-sm-8 col-form-label") }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.num_of_vp_seats(class_="form-control") }}
        </div>
        {{ form.num_of_vp_seats.label(class_="col-sm-8 col-form-label") }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.num_of_software_design_seats(class_="form-control") }}
        </div>
        {{ form.num_of_software_design_seats.label(class_="col-sm-8 col-form-label") }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.num_of_business_seats(class_="form-control") }}
        </div>
        {{ form.num_of_business_seats.label(class_="col-sm-8 col-form-label") }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.num_of_fashion_seats(class_="form-control") }}
        </div>
        {{ form.num_of_fashion_seats.label(class_="col-sm-8 col-form-label") }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.num_of_art_and_design_seats(class_="form-control") }}
        </div>
        {{ form.num_of_art_and_design_seats.label(class_="col-sm-8 col-form-label") }}
    </div>


    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.student_survey_file(class_="form-control") }}
        </div>
        {{ form.student_survey_file.label(class_="col-sm-8 col-form-label") }}

    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            {{ form.student_requests_file(class_="form-control") }}
        </div>        
        {{ form.student_requests_file.label(class_="col-sm-8 col-form-label") }}
    </div>

    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


</div>
{% endblock %}