{% extends "base.html" %}

{% from 'reports_forms/class_lists_form.html' import class_list_form_card %}
{% from 'reports_forms/class_lists_with_google_sheets_data_form.html' import class_list_with_google_sheet_data_form_card %}


{% block content %}
<div class="container">
<h1>Programming Scripts</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
      {{class_list_form_card(forms.class_list_form)}}

    {{class_list_with_google_sheet_data_form_card(forms.class_list_with_google_sheets_form)}}
</div>
</div>

</div>
{% endblock %}