{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item "><a href="{{url_for('scripts.return_attendance_reports')}}">Attendance</a></li>
    <li class="breadcrumb-item "><a href="{{url_for('scripts.return_jupiter_cut_analysis_reports')}}">Jupiter Attd Error</a></li>
    <li class="breadcrumb-item active">Weekly Report by Teacher</li>
  </ol>
</nav>

<h1>Generate Weekly Possible Jupiter Attendance Errors by Teacher</h1>


<form action="{{url_for('scripts.return_weekly_jupiter_attendance_error_by_teacher')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="form-group p-1 g-col-12">
      {{ form.week_of.label }}
      {{ form.week_of(class_="form-control") }}
  </div>    



  <div class="form-group p-1 g-col-12 d-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

</div>
{% endblock %}