{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    
    <li class="breadcrumb-item active"><a href="#">Jupiter Midday Analysis</a></li>
  </ol>
</nav>

<h1>Jupiter Midday Analysis Form</h1>
<p>Download one day's worth of Jupiter Attendance in the middle of Period 5</p>
<form action="{{url_for('scripts.return_jupiter_midday_analysis')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12">
        {{ form.jupiter_attd_file.label(class_="form-label") }}
        {{ form.jupiter_attd_file(class_="form-control") }}
    </div>


    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Run</button>
    </div>
</form>

</div>
{% endblock %}