{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_scholarship_reports')}}">Scholarship</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_egg_reports')}}">EGG</a></li>
    <li class="breadcrumb-item active">EGG Upload</li>
  </ol>
</nav>

<h1>Return EGG Upload</h1>
<p>Save the .xls as a .xlsx file first</p>

<form action="{{url_for('scripts.return_egg_from_jupiter')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
 
  <div class="form-group p-1 g-col-12">
    {{ form.egg_file.label }}
    {{ form.egg_file(class_="form-control") }}
  </div>
  <div class="form-group p-1 g-col-12">
    {{ form.semester.label }}
    {{ form.semester(class_="form-control") }}
  </div>

  <div class="form-group p-1 g-col-12 d-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

</div>
{% endblock %}