{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item "><a href="{{url_for('scripts.return_attendance_reports')}}">Attendance</a></li>
    <li class="breadcrumb-item active">Generate Confirmation Sheet Cover Page</li>
  </ol>
</nav>

<h1>Generate Confirmation Sheet Cover Page</h1>


<form action="{{url_for('scripts.return_confirmation_sheets_cover_page')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

<div class="form-group p-1 g-col-12">
    {{ form.jupiter_attendance_file.label }}
    {{ form.jupiter_attendance_file(class_="form-control") }}
</div>    


  <div class="form-group p-1 g-col-12">
      {{ form.rdsc_files.label }}
      {{ form.rdsc_files(class_="form-control") }}
  </div>    



  <div class="form-group p-1 g-col-12 d-grid">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

</div>
{% endblock %}