{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Testing</a></li>
    <li class="breadcrumb-item"><a href="#">Regents</a></li>
    <li class="breadcrumb-item active"><a href="#">Day Of Organization</a></li>
  </ol>
</nav>

<h1>Day of Organization</h1>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Exam</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Student Labels</th>
      <th scope="col">Folder Labels</th>
      <th scope="col">ENL Rosters</th>
      <th scope="col">Bag Labels</th>
      <th scope="col">Bathroom Passes</th>
      <th scope="col">Direction Labels</th>
      <th scope="col">Proctors + Grid</th>
    </tr>
  </thead>
  <tbody>
    {% for exam in exambook %}
    <tr>
      <th scope="row">{{exam.ExamTitle}}</th>
      <td>{{exam.Day}}</td>
      <td>{{exam.Time}}</td>
      <td>{{form_with_dropdown(exam,'Rooms','StudentLabels')}} {{form_with_dropdown(exam,'Sections','StudentLabels')}}</td>
      <td>{{form_without_dropdown(exam, 'FolderLabels')}}</td>
      <td>{{form_without_dropdown(exam, 'ENLRosters')}}</td>
      <td>{{form_without_dropdown(exam, 'BagLabels')}}</td>
      <td>{{form_without_dropdown(exam, 'BathroomPasses')}}</td>
      <td>{{form_without_dropdown(exam, 'DirectionLabels')}}</td>
      <td>{{form_without_dropdown(exam, 'ProctorsAndRoomGrid')}}</td>
    </tr>
    {% endfor %} 
    <tr>
        <th scope="row">All</th>
        <td></td>
        <td></td>
        <td>{{form_with_dropdown({'Course':'All'},'Rooms','StudentLabels')}} {{form_with_dropdown({'Course':'All'},'Sections','StudentLabels')}}</td>
        <td>{{form_without_dropdown({'Course':'All'}, 'FolderLabels')}}</td>
        <td>{{form_without_dropdown({'Course':'All'},'ENLRosters')}}</td>
        <td>{{form_without_dropdown({'Course':'All'},'BagLabels')}}</td>
        <td>{{form_without_dropdown({'Course':'All'},'BathroomPasses')}}</td>
        <td>{{form_without_dropdown({'Course':'All'},'DirectionLabels')}}</td>
        <td>{{form_without_dropdown({'Course':'All'},'ProctorsAndRoomGrid')}}</td>
      </tr>
  </tbody>
</table>

  


</div>
{% endblock %}




{% macro form_without_dropdown(exam, file) -%}

<form action="{{url_for('scripts.return_regents_day_of_org_files',course=exam.Course, file=file)}}" class="grid gap-3" method="GET">
    
<div class="row">
    <div class="form-group col-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{%- endmacro %}





{% macro form_with_dropdown(exam, lst, file) -%}

<form action="{{url_for('scripts.return_regents_day_of_org_files',course=exam.Course, file=file)}}" class="grid gap-3" method="GET">
    
<div class="row">
    <div class="col-2">
        <label for="cars">{{lst}}:</label>
    </div>
    <div class="form-group col-6">
        
        <select name="{{lst}}" id="{{lst}}" class="form-select" aria-label="Default select example">
        <option selected>ALL</option>
        {% for lst_option in exam[lst] %}
            <option>{{lst_option}}</option>
        {% endfor %}
        </select>
    </div>

    <div class="form-group col-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

{%- endmacro %}