{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_testing_reports')}}">Testing</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_testing_reports')}}">College Board</a></li>
    <li class="breadcrumb-item active"><a href="#">SAT</a></li>
  </ol>
</nav>

<h1>Generate SAT and PSAT Exam Invitations</h1>

<form action="{{url_for('scripts.return_student_records_organized_by_class_list')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group p-1 g-col-12">
        {{ form.exam_title.label(class_="form-label") }}
        {{ form.exam_title(class_="form-select") }}
    </div>
    
    <div class="form-group p-1 g-col-12">
        {{ form.student_testing_assignments.label(class_="form-label") }}
        {{ form.student_testing_assignments(class_="form-control") }}
    </div>

    <div class="form-group p-1 g-col-12">
        {{ form.testing_room_info.label(class_="form-label") }}
        {{ form.testing_room_info(class_="form-control") }}
    </div>

    <div class="form-group p-1 g-col-12">
        {{ form.student_list.label(class_="form-label") }}
        {{ form.student_list(class_="form-control") }}
    </div>

    <div class="form-group p-1 g-col-12">
        {{ form.student_list_source.label(class_="form-label") }}
        {{ form.student_list_source(class_="form-select") }}
    </div>



    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Run</button>
    </div>
</form>

</div>
{% endblock %}