{% extends "base.html" %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_routes')}}">Summer School</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_testing_routes')}}">Testing</a></li>
    <li class="breadcrumb-item active">Process Regents Pre-Registration</li>
  </ol>
</nav>

<h1>Summer School Process Regents Pre-Registration</h1>
<p>Reconciles student regents registration in STARS to match spreadsheet for students already admitted to ATSSUM</p>

<form action="{{url_for('scripts.return_summer_regents_preregistration')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12">
        {{ form.combined_regents_registration_spreadsheet.label }}
        {{ form.combined_regents_registration_spreadsheet(class_="form-control") }}
    </div>    

    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


</div>
{% endblock %}