{% extends "base.html" %}


{% from 'programming/templates/programming/_forms.html' import render_programming_form %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_routes')}}">Summer School</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_testing_routes')}}">Testing</a></li>
    <li class="breadcrumb-item active"><a href="#">Exam Only Form</a></li>
  </ol>
</nav>

<h1>Summer School Exam Only Form</h1>

<form action="{{url_for('scripts.return_summer_exam_only_students')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12">
        {{ form.combined_regents_registration_spreadsheet.label }}
        {{ form.combined_regents_registration_spreadsheet(class_="form-control") }}
    </div>    

    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


</div>
{% endblock %}