{% extends "base.html" %}




{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('main.return_index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_routes')}}">Summer School</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('scripts.return_summer_school_testing_routes')}}">Testing</a></li>
    <li class="breadcrumb-item active">Generate Exam Only Spreadsheet</li>
  </ol>
</nav>

<h1>Summer School Generate Exam Only Spreadsheet</h1>
<p></p>

<form action="{{url_for('scripts.return_summer_exam_only_spreadsheet')}}" class="grid gap-3" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}


    <div class="form-group p-1 g-col-12">
        {{ form.cr_3_07_xlsx.label }}
        {{ form.cr_3_07_xlsx(class_="form-control") }}
    </div>    

    <div class="form-group p-1 g-col-12">
      {{ form.last_year_testing_xlsx.label }}
      {{ form.last_year_testing_xlsx(class_="form-control") }}
  </div>    


    <div class="form-group p-1 g-col-12 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


</div>
{% endblock %}