{% macro flashed_messages() -%}
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-dismissible fade show alert-warning" role="alert">
            {% else %}
              <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert">
            {% endif %}
              <p>{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}
</div>
{%- endmacro %}