{% macro navbar() -%}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Data Specialist Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.return_index')}}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            File Management
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{{url_for('main.view_all_reports')}}">View All Files</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{url_for('main.upload_files')}}">Upload Files</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{url_for('main.upload_gsheet')}}">Upload Google Sheet URLs</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{url_for('main.return_update_from_jupiter')}}">Sync Jupiter Files</a>
            </li>            
          </ul>
        </li>


      </ul>
       <form class="d-flex" role="search" method="Post" action="{{ url_for('main.set_semester')}}">
        
        <select class="form-control" name="semester" id="semester">
          {% for year in [2022,2023,2024,2025,2026]|reverse %}
            {% for semester,season in [(1,'Fall'),(2,'Spring'),(7,'Summer')]|reverse %}
              {% if session.semester == year|string +'-'+semester|string %}
              <option value="{{year}}-{{semester}}" selected>{{year}}/{{semester}} - {{season}} {{year+1 if season!='Fall' else year}}</option>
              {% else %}
              <option value="{{year}}-{{semester}}">{{year}}/{{semester}} - {{season}} {{year+1 if season!='Fall' else year}}</option>
              {% endif %}
              
            {% endfor %}
          {% endfor %}
        </select>
        <button class="btn btn-outline-success" type="submit">Set</button>
      </form>     
    </div>
</nav>

{%- endmacro %}