{% extends "base.html" %}

{% from 'reports_forms/class_lists_form.html' import class_list_form_card %}
{% from 'reports_forms/class_lists_with_google_sheets_data_form.html' import class_list_with_google_sheet_data_form_card %}

{% block content %}
<div class="container">
<h1>Home Page</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for key, value in data.sections.items() %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
            <a href="{{url_for(value)}}" class="stretched-link">{{key}}</a>
        </h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>





</div>
{% endblock %}